.product {
  display: grid;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  padding-top: 8rem;
  padding-inline: 1rem;
  text-align: center;

  @include breakpoint-up(xlarge) {
    padding-top: 16rem;
  }

  &__text {
    justify-self: center;
    display: grid;
    gap: 2.5rem;
    width: 343px;

    @include breakpoint-up(large) {
      width: 500px;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2rem;
      @include breakpoint-up(large) {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
    }
    p {
      font-size: 1.125rem;
      line-height: 1.6875rem;
      @include breakpoint-up(large) {
        font-size: $font-medium;
        line-height: 1.875rem;
      }
    }
  }

  &__cards-container {
    display: grid;
    gap: 2rem;
    justify-content: center;
    @include breakpoint-up(xlarge) {
      display: flex;
    }
  }

  &__card {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 5fr;
    place-content: center;
    align-items: center;
    width: 343px;
    height: 540px;
    border-radius: 1rem;
    background-color: $col-secondary;

    @include breakpoint-up(large) {
      grid-template-rows: 2fr 2fr 3fr 5fr 1fr;
      width: 696px;
      height: 642px;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.625rem;
    }
    p {
      font-size: $font-small;
      line-height: 1.5rem;
      width: 311px;
      justify-self: center;
      @include breakpoint-up(large) {
        width: 366px;
      }
    }
    img {
      width: 305px;
      height: auto;
      @include breakpoint-up(large) {
        height: 100%;
        width: auto;
      }
    }

    button {
      width: fit-content;
      padding: 1rem 1.5rem;
      justify-self: center;
    }
  }
}
